body {
    counter-reset: section;
}
  
.day::before {
    counter-increment: section;
    content: counter(section);
}

.center 
{
    text-align: center;
}

.row
{
    display: flex;
}

.day, .textDay
{
    border: 1px solid;
    width: calc(100%/7);
}
