body {
    counter-reset: section;
}

.grid .textDay:nth-child(1):before {
    content: "PN";
}

.grid .textDay:nth-child(2):before {
    content: "WT";
}

.grid .textDay:nth-child(3):before {
    content: "SR";
}

.grid .textDay:nth-child(4):before {
    content: "CZ";
}

.grid .textDay:nth-child(5):before {
    content: "PT";
}

.grid .textDay:nth-child(6):before {
    content: "SB";
}

.grid .textDay:nth-child(7):before {
    content: "ND";
}

.flex .dayNumber:nth-child(1):before {
    content: "PN\A";
}

.flex .dayNumber:nth-child(2):before {
    content: "WT\A";
}

.flex .dayNumber:nth-child(3):before {
    content: "SR\A";
}

.flex .dayNumber:nth-child(4):before {
    content: "CZ\A";
}

.flex .dayNumber:nth-child(5):before {
    content: "PT\A";
}

.flex .dayNumber:nth-child(6):before {
    content: "SB\A";
}

.flex .dayNumber:nth-child(7):before {
    content: "ND\A";
}

.flex > .row > .textDay, .flex > .row > .empty
{
    display: none;
}

.dayNumber::after {
    counter-increment: section;
    content: counter(section);
}

.center 
{
    text-align: center;
}

.grid > .row
{
    display: flex;
}

.day, .textDay
{
    width: 100%;
    border: 1px solid white;
}

.day
{
    height: 25px;
}

.dayNumber
{
    border: 1px solid;
}


