body {
    counter-reset: section;
}
  

.dayNumber::before {
    counter-increment: section;
    content: counter(section);
}

.center 
{
    text-align: center;
}

.flex
{
    display: flex;
}

.day, .textDay
{
    width: 100%;
    border: 1px solid white;
}

.day
{
    height: 25px;
}

.dayNumber
{
    border: 1px solid;
}

#textDayRow
{
    position: fixed;
}
